# {{ ansible_managed }}
---
version: '3.3'
services:
  komga:
    image: {{komga_image}}
    pull_policy: always
    container_name: komga
    volumes:
      - {{komga_host_config_path}}:/config
      - {{komga_host_data_path}}:/data
      - /etc/timezone:/etc/timezone:ro
    ports:
      - {{komga_host_port}}:8080
    user: "1000:1000"
    restart: unless-stopped