# {{ ansible_managed }}
---
version: '3.3'
services:
  komga:
    image: {{komga_image}}
    pull_policy: always
    container_name: komga
    volumes:
      - {{komga_host_config_path}}:/config
      - {{komga_host_data_path}}:/data
      - /etc/timezone:/etc/timezone:ro
    ports:
      - {{komga_host_port}}:25600
    user: "{{ created_uid }}:{{ created_gid }}"
    restart: unless-stopped
{% if komga_network_name is defined and komga_network_name|length %}
    networks:
{% filter indent(width=3) %}
      - {{ komga_network_name }}
{% endfilter %}
{% endif %}  

{% if komga_network_name is defined and komga_network_name|length %}
networks:
  {{ komga_network_name }}:
    external: true
{% endif %}