# {{ ansible_managed }}
---
version: '3.3'
services:
  komga:
    image: {{komga_image}}
    container_name: komga
    volumes:
      - type: bind
        source: {{komga_host_config_path}}
        target: /config
      - type: bind
        source: {{komga_host_data_path}}
        target: /data
      - type: bind
        source: /etc/timezone
        target: /etc/timezone
        read_only: true
    ports:
      - {{komga_host_port}}:8080
    user: "1000:1000"
    restart: unless-stopped