[Unit]
Description=komga
Requires=docker.service
After=docker.service

[Service]
Restart=always
User={{ komga_container_user }}
Group=docker
WorkingDirectory={{ komga_host_config_path }}
ExecStartPre=/usr/local/bin/docker-compose -f {{ komga_host_config_path }}/docker-compose.yml down
ExecStart=/usr/local/bin/docker-compose -f {{ komga_host_config_path }}/docker-compose.yml up
ExecStop=/usr/local/bin/docker-compose -f {{ komga_host_config_path }}/docker-compose.yml down

[Install]
WantedBy=multi-user.target